In [2]:
import numpy as np
import pandas as pd

In [3]:
import tensorflow as tf

In [4]:
train = pd.read_csv('train.csv')

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
train['Sex'].replace({
    'male' : 1,
    'female' : 0
}, inplace=True)

In [8]:
train.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.25,NaN,S

In [11]:
train['Age'].replace({
    np.nan : np.sum(train['Age']) / train.shape[0]
}, inplace=True)

In [12]:
train.shape

(891, 12)

In [13]:
train['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 23.79929293,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

In [14]:
total_entries = train.shape[0]

In [15]:
total_entries

891

In [16]:
training_entries = np.round((60 * total_entries) / 100)

In [17]:
cv_entries = np.round((20 * total_entries) / 100)

In [18]:
test_entries = total_entries - training_entries - cv_entries

In [19]:
# Sepreating the training dataset from the complete dataset
Y = np.array(train['Survived'])

In [22]:
Y.shape

(891,)

In [24]:
y_train = Y[:int(training_entries)]

In [25]:
y_train.shape

(535,)

In [26]:
y_cv = Y[int(training_entries) : int(training_entries + cv_entries)]

In [27]:
y_test = Y[int(training_entries + cv_entries) : int(training_entries + cv_entries + test_entries)]

## Using Pclass and Sex Columns

In [37]:
X1 = train[['Pclass', 'Sex']]

In [38]:
X1 = np.array(X1)

In [39]:
X1.shape

(891, 2)

In [40]:
x_train = X1[:int(training_entries), :]

In [41]:
x_train.shape

(535, 2)

In [42]:
x_cv = X1[int(training_entries):int(training_entries+cv_entries), :]

In [43]:
x_test = X1[int(training_entries+cv_entries) : int(training_entries+cv_entries+test_entries), :]

In [45]:
x_cv.shape

(178, 2)

In [46]:
x_test.shape

(178, 2)

In [47]:
def map_feature(x1, x2, degree):
    x1 = np.atleast_1d(x1)
    x2 = np.atleast_1d(x2)
    
    output = []
    for i in range(1, degree + 1):
        for j in range(i + 1):
            output.append((x1 ** (i - j)) * (x2 ** j))
    return np.stack(output, axis=1)

In [54]:
# Normalizing the x_train i.e. , training dataset
norm1 = tf.keras.layers.Normalization(axis=-1)

In [55]:
norm1.adapt(x_train)

In [56]:
x_train = norm1(x_train)

In [57]:
from sklearn.linear_model import LogisticRegression

In [58]:
model1 = LogisticRegression(max_iter=5000)

In [60]:
model1.fit(x_train, y_train)

LogisticRegression(max_iter=5000)

In [62]:
y_pred_train_1 = model1.predict(x_train)

In [75]:
def accuracy_logistic_regression(y_pred, y):
    m = y.shape[0]
    count = 0
    for i in range(m):
        if y_pred[i] != y[i]:
            count += 1
    accuracy = ((m - count) / m) * 100
    return accuracy, count

In [76]:
accuracy_train_1 = accuracy_logistic_regression(y_pred_train_1, y_train)

In [77]:
accuracy_train_1

(79.81308411214954, 108)

## Using degree = 2

In [78]:
x_train_2 = map_feature(x_train[:, 0], x_train[:, 1], 2)

In [79]:
x_train_2.shape

(535, 5)

In [80]:
model2 = LogisticRegression(max_iter=10000)

In [81]:
model2.fit(x_train_2, y_train)

LogisticRegression(max_iter=10000)

In [82]:
y_pred_train_2 = model2.predict(x_train_2)

In [83]:
accuracy_train_2 = accuracy_logistic_regression(y_pred_train_2, y_train)

In [84]:
accuracy_train_2

(79.81308411214954, 108)

## Using degree = 3

In [85]:
x_train_3 = map_feature(x_train[:, 0], x_train[:, 1], 3)

In [87]:
x_train_3.shape

(535, 9)

In [88]:
model3 = LogisticRegression(max_iter=10000)

In [89]:
model3.fit(x_train_3, y_train)

LogisticRegression(max_iter=10000)

In [90]:
y_pred_train_3 = model3.predict(x_train_3)

In [91]:
accuracy_train_3 = accuracy_logistic_regression(y_pred_train_3, y_train)

In [92]:
accuracy_train_3

(79.81308411214954, 108)

# Using Degree = 4

In [94]:
x_train_4 = map_feature(x_train[:, 0], x_train[:, 1], 4)

In [97]:
norm2 = tf.keras.layers.Normalization(axis=-1)

In [98]:
norm2.adapt(x_train_4)

In [99]:
x_train_4 = norm2(x_train_4)

In [103]:
x_train_4 = np.array(x_train_4)

In [104]:
x_train_4.max()

2.7301471

In [105]:
model4 = LogisticRegression(max_iter=10000)

In [106]:
model4.fit(x_train_4, y_train)

LogisticRegression(max_iter=10000)

In [107]:
y_pred_train_4 = model4.predict(x_train_4)

In [108]:
accuracy_train_4 = accuracy_logistic_regression(y_pred_train_4, y_train)

In [109]:
accuracy_train_4

(79.81308411214954, 108)

In [110]:
x_cv_4 = map_feature(x_cv[:, 0], x_cv[:, 1], 4)

In [111]:
x_cv_4 = norm2(x_cv_4)

In [112]:
x_cv_4 = np.array(x_cv_4)

In [114]:
y_pred_cv_4 = model4.predict(x_cv_4)

In [115]:
accuracy_cv_4 = accuracy_logistic_regression(y_pred_cv_4, y_cv)

In [116]:
accuracy_cv_4

(59.55056179775281, 72)

## Using degree = 1

In [117]:
x_cv = norm1(x_cv)

In [118]:
x_cv = np.array(x_cv)

In [121]:
x_test = norm1(x_test)

In [122]:
x_test = np.array(x_test)

In [123]:
model = LogisticRegression(max_iter=10000)

In [124]:
model.fit(x_train, y_train)

LogisticRegression(max_iter=10000)

In [125]:
y_pred_train = model.predict(x_train)

In [126]:
accuracy_train = accuracy_logistic_regression(y_pred_train, y_train)

In [127]:
accuracy_train

(79.81308411214954, 108)

In [128]:
y_pred_cv = model.predict(x_cv)

In [129]:
accuracy_logistic_regression(y_pred_cv, y_cv)

(59.55056179775281, 72)