In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

In [3]:
def compute_cost(x, y, w, b):
    m, n = x.shape
    
    z = np.dot(x,w) + b
    f_wb = sigmoid(z)
    
    cost = -(1.0 / m) * np.sum((y * np.log(f_wb)) + (1 - y) * np.log(1 - f_wb))
    return cost

In [4]:
def compute_gradient_descent(x, y, w, b):
    m, n = x.shape
    
    dw = np.zeros((n, ))
    db = 0.0
    for i in range(m):
        f_wb_i = sigmoid(np.dot(x[i], w) + b)
        err = f_wb_i - y[i]
        for j in range(n):
            dw[j] = dw[j] + err * x[i, j]
        db = db + err
    dw = dw / m
    db = db / m
    return dw, db

In [5]:
def gradient_descent(x, y):
    m, n = x.shape
    
    w = np.zeros((n ,))
    b = 0.0
    alpha = 1e-2
    max_iter = 10000
    
    losses = []
    for i in range(max_iter):
        cost = compute_cost(x, y, w, b)
        losses.append(cost)
        
        if i%50 == 0:
            print(f"Iteration: {i}, Cost: {losses[i]}")
        dw, db = compute_gradient_descent(x, y, w, b)
        
        w = w - (alpha * dw)
        b = b - (alpha * db)
    return w, b

In [6]:
df = pd.read_csv('train.csv')

In [7]:
df['Sex'].replace({
    'male' : 1,
    'female' : 0
}, inplace=True)

In [8]:
df['Age'].replace({
    np.nan : np.sum(df['Age'])/ df.shape[0]
}, inplace=True)

In [9]:
df['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 23.79929293,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

In [10]:
X = np.array(df[['Pclass', 'Sex', 'Age']])

In [11]:
Y = np.array(df['Survived'])

In [12]:
w, b = gradient_descent(X, Y)

Iteration: 0, Cost: 0.6931471805599454
Iteration: 50, Cost: 0.7197046363769347
Iteration: 100, Cost: 0.7123891153214511
Iteration: 150, Cost: 0.7060111910817716
Iteration: 200, Cost: 0.7001875325527279
Iteration: 250, Cost: 0.6946920133820781
Iteration: 300, Cost: 0.6894010046591178
Iteration: 350, Cost: 0.6842502603280775
Iteration: 400, Cost: 0.679207834083961
Iteration: 450, Cost: 0.6742584412222787
Iteration: 500, Cost: 0.6693948797793711
Iteration: 550, Cost: 0.6646135351668581
Iteration: 600, Cost: 0.6599121494262399
Iteration: 650, Cost: 0.6552887990574339
Iteration: 700, Cost: 0.6507414898000847
Iteration: 750, Cost: 0.6462680476315923
Iteration: 800, Cost: 0.6418661383798187
Iteration: 850, Cost: 0.6375333324498795
Iteration: 900, Cost: 0.633267175921015
Iteration: 950, Cost: 0.6290652521817294
Iteration: 1000, Cost: 0.6249252293890687
Iteration: 1050, Cost: 0.620844893993409
Iteration: 1100, Cost: 0.6168221724408116
Iteration: 1150, Cost: 0.6128551435848483
Iteration: 1200, Cost: 0.6089420441455478
Iteration: 1250, Cost: 0.6050812691538395
Iteration: 1300, Cost: 0.6012713689002038
Iteration: 1350, Cost: 0.5975110435399933
Iteration: 1400, Cost: 0.5937991362150299
Iteration: 1450, Cost: 0.5901346253294618
Iteration: 1500, Cost: 0.5865166164571259
Iteration: 1550, Cost: 0.5829443342467051
Iteration: 1600, Cost: 0.5794171146202877
Iteration: 1650, Cost: 0.5759343975244641
Iteration: 1700, Cost: 0.5724957204878358
Iteration: 1750, Cost: 0.5691007132661576
Iteration: 1800, Cost: 0.5657490939222292
Iteration: 1850, Cost: 0.5624406668049777
Iteration: 1900, Cost: 0.5591753230837996
Iteration: 1950, Cost: 0.5559530447991553
Iteration: 2000, Cost: 0.5527739138749075
Iteration: 2050, Cost: 0.5496381283150987
Iteration: 2100, Cost: 0.5465460290741433
Iteration: 2150, Cost: 0.5434981431921908
Iteration: 2200, Cost: 0.5404952523538127
Iteration: 2250, Cost: 0.5375385022119306
Iteration: 2300, Cost: 0.5346295787807606
Iteration: 2350, Cost: 0.5317709980308563
Iteration: 2400, Cost: 0.5289665912398936
Iteration: 2450, Cost: 0.5262223357927479
Iteration: 2500, Cost: 0.5235478021380092
Iteration: 2550, Cost: 0.5209586872573391
Iteration: 2600, Cost: 0.5184811441170798
Iteration: 2650, Cost: 0.5161584886430542
Iteration: 2700, Cost: 0.5140586319928359
Iteration: 2750, Cost: 0.5122720174163531
Iteration: 2800, Cost: 0.5108757819563469
Iteration: 2850, Cost: 0.5098590818878422
Iteration: 2900, Cost: 0.5090974229347062
Iteration: 2950, Cost: 0.5084484001718851
Iteration: 3000, Cost: 0.50783733147919
Iteration: 3050, Cost: 0.5072431116209901
Iteration: 3100, Cost: 0.5066619693451575
Iteration: 3150, Cost: 0.5060931182290099
Iteration: 3200, Cost: 0.505536090078808
Iteration: 3250, Cost: 0.5049904560137013
Iteration: 3300, Cost: 0.5044558077043796
Iteration: 3350, Cost: 0.5039317554950956
Iteration: 3400, Cost: 0.5034179273303256
Iteration: 3450, Cost: 0.5029139678044284
Iteration: 3500, Cost: 0.502419537293877
Iteration: 3550, Cost: 0.5019343111556065
Iteration: 3600, Cost: 0.5014579789803423
Iteration: 3650, Cost: 0.5009902438930763
Iteration: 3700, Cost: 0.5005308218950039
Iteration: 3750, Cost: 0.5000794412426586
Iteration: 3800, Cost: 0.4996358418609334
Iteration: 3850, Cost: 0.49919977478731686
Iteration: 3900, Cost: 0.4987710016451252
Iteration: 3950, Cost: 0.4983492941438258
Iteration: 4000, Cost: 0.4979344336047787
Iteration: 4050, Cost: 0.4975262105108995
Iteration: 4100, Cost: 0.4971244240788844
Iteration: 4150, Cost: 0.49672888185274466
Iteration: 4200, Cost: 0.49633939931749543
Iteration: 4250, Cost: 0.4959557995319181
Iteration: 4300, Cost: 0.4955779127793875
Iteration: 4350, Cost: 0.4952055762358166
Iteration: 4400, Cost: 0.49483863365382486
Iteration: 4450, Cost: 0.49447693506229273
Iteration: 4500, Cost: 0.49412033648050924
Iteration: 4550, Cost: 0.4937686996461606
Iteration: 4600, Cost: 0.4934218917564583
Iteration: 4650, Cost: 0.4930797852217313
Iteration: 4700, Cost: 0.49274225743085576
Iteration: 4750, Cost: 0.4924091905279188
Iteration: 4800, Cost: 0.4920804711995528
Iteration: 4850, Cost: 0.4917559904724015
Iteration: 4900, Cost: 0.49143564352021246
Iteration: 4950, Cost: 0.4911193294800716
Iteration: 5000, Cost: 0.49080695127732715
Iteration: 5050, Cost: 0.49049841545876843
Iteration: 5100, Cost: 0.49019363203365174
Iteration: 5150, Cost: 0.489892514322185
Iteration: 5200, Cost: 0.48959497881110314
Iteration: 5250, Cost: 0.48930094501598587
Iteration: 5300, Cost: 0.48901033534998706
Iteration: 5350, Cost: 0.48872307499866124
Iteration: 5400, Cost: 0.4884390918005918
Iteration: 5450, Cost: 0.4881583161335358
Iteration: 5500, Cost: 0.4878806808058207
Iteration: 5550, Cost: 0.48760612095273637
Iteration: 5600, Cost: 0.4873345739376816
Iteration: 5650, Cost: 0.48706597925783773
Iteration: 5700, Cost: 0.4868002784541499
Iteration: 5750, Cost: 0.4865374150254104
Iteration: 5800, Cost: 0.48627733434624865
Iteration: 5850, Cost: 0.4860199835888398
Iteration: 5900, Cost: 0.4857653116481573
Iteration: 5950, Cost: 0.4855132690705991
Iteration: 6000, Cost: 0.4852638079858297
Iteration: 6050, Cost: 0.4850168820416841
Iteration: 6100, Cost: 0.48477244634199207
Iteration: 6150, Cost: 0.48453045738718264
Iteration: 6200, Cost: 0.4842908730175403
Iteration: 6250, Cost: 0.48405365235898845
Iteration: 6300, Cost: 0.48381875577128153
Iteration: 6350, Cost: 0.4835861447984946
Iteration: 6400, Cost: 0.4833557821217023
Iteration: 6450, Cost: 0.48312763151374755
Iteration: 6500, Cost: 0.4829016577960006
Iteration: 6550, Cost: 0.4826778267970195
Iteration: 6600, Cost: 0.4824561053130222
Iteration: 6650, Cost: 0.48223646107008794
Iteration: 6700, Cost: 0.48201886268800836
Iteration: 6750, Cost: 0.4818032796457124
Iteration: 6800, Cost: 0.48158968224819404
Iteration: 6850, Cost: 0.4813780415948734
Iteration: 6900, Cost: 0.48116832954932637
Iteration: 6950, Cost: 0.48096051871032036
Iteration: 7000, Cost: 0.48075458238409696
Iteration: 7050, Cost: 0.4805504945578457
Iteration: 7100, Cost: 0.4803482298743144
Iteration: 7150, Cost: 0.4801477636075044
Iteration: 7200, Cost: 0.47994907163940354
Iteration: 7250, Cost: 0.47975213043770815
Iteration: 7300, Cost: 0.4795569170344922
Iteration: 7350, Cost: 0.4793634090057777
Iteration: 7400, Cost: 0.47917158445197
Iteration: 7450, Cost: 0.4789814219791165
Iteration: 7500, Cost: 0.4787929006809535
Iteration: 7550, Cost: 0.47860600012170584
Iteration: 7600, Cost: 0.4784207003196052
Iteration: 7650, Cost: 0.4782369817310968
Iteration: 7700, Cost: 0.47805482523570236
Iteration: 7750, Cost: 0.4778742121215114
Iteration: 7800, Cost: 0.47769512407127285
Iteration: 7850, Cost: 0.47751754314906036
Iteration: 7900, Cost: 0.47734145178748616
Iteration: 7950, Cost: 0.47716683277544003
Iteration: 8000, Cost: 0.47699366924632924
Iteration: 8050, Cost: 0.4768219446667984
Iteration: 8100, Cost: 0.47665164282590794
Iteration: 8150, Cost: 0.4764827478247512
Iteration: 8200, Cost: 0.47631524406649134
Iteration: 8250, Cost: 0.4761491162467991
Iteration: 8300, Cost: 0.4759843493446751
Iteration: 8350, Cost: 0.47582092861363856
Iteration: 8400, Cost: 0.4756588395732685
Iteration: 8450, Cost: 0.4754980680010797
Iteration: 8500, Cost: 0.47533859992472194
Iteration: 8550, Cost: 0.47518042161448554
Iteration: 8600, Cost: 0.4750235195761022
Iteration: 8650, Cost: 0.47486788054382834
Iteration: 8700, Cost: 0.4747134914737969
Iteration: 8750, Cost: 0.4745603395376282
Iteration: 8800, Cost: 0.4744084121162885
Iteration: 8850, Cost: 0.47425769679418417
Iteration: 8900, Cost: 0.474108181353483
Iteration: 8950, Cost: 0.4739598537686529
Iteration: 9000, Cost: 0.47381270220120714
Iteration: 9050, Cost: 0.47366671499464985
Iteration: 9100, Cost: 0.473521880669611
Iteration: 9150, Cost: 0.4733781879191643
Iteration: 9200, Cost: 0.4732356256043201
Iteration: 9250, Cost: 0.4730941827496849
Iteration: 9300, Cost: 0.4729538485392815
Iteration: 9350, Cost: 0.47281461231252386
Iteration: 9400, Cost: 0.4726764635603371
Iteration: 9450, Cost: 0.47253939192141997
Iteration: 9500, Cost: 0.47240338717864233
Iteration: 9550, Cost: 0.4722684392555717
Iteration: 9600, Cost: 0.47213453821312384
Iteration: 9650, Cost: 0.472001674246333
Iteration: 9700, Cost: 0.47186983768123564

Iteration: 9750, Cost: 0.47173901897186316
Iteration: 9800, Cost: 0.47160920869734047
Iteration: 9850, Cost: 0.4714803975590844
Iteration: 9900, Cost: 0.4713525763780977
Iteration: 9950, Cost: 0.4712257360923573

In [13]:
y_pred = sigmoid(np.dot(X, w) + b)

In [14]:
output = []
m = X.shape[0]
for i in range(m):
    value = sigmoid(np.dot(X[i], w) + b)
    if value >= 0.65:
        output.append(1)
    else:
        output.append(0)

In [15]:
output = np.array(output)

In [16]:
output.shape

(891,)

In [17]:
count_wrong = 0
for i in range(m):
    if output[i] != Y[i]:
        count_wrong +=1

In [18]:
count_wrong

190

In [19]:
((m - count_wrong) / m) * 100

78.67564534231201

In [20]:
test = pd.read_csv('test.csv')

In [21]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [22]:
test['Sex'].replace({
    'male': 1,
    'female' : 0
}, inplace=True)

In [23]:
test['Age'].replace({
    np.nan : np.sum(test['Age']) / test.shape[0]
}, inplace=True)

In [24]:
test['Age'].unique()

array([34.5       , 47.        , 62.        , 27.        , 22.        ,
       14.        , 30.        , 26.        , 18.        , 21.        ,
       24.04425837, 46.        , 23.        , 63.        , 24.        ,
       35.        , 45.        , 55.        ,  9.        , 48.        ,
       50.        , 22.5       , 41.        , 33.        , 18.5       ,
       25.        , 39.        , 60.        , 36.        , 20.        ,
       28.        , 10.        , 17.        , 32.        , 13.        ,
       31.        , 29.        , 28.5       , 32.5       ,  6.        ,
       67.        , 49.        ,  2.        , 76.        , 43.        ,
       16.        ,  1.        , 12.        , 42.        , 53.        ,
       26.5       , 40.        , 61.        , 60.5       ,  7.        ,
       15.        , 54.        , 64.        , 37.        , 34.        ,
       11.5       ,  8.        ,  0.33      , 38.        , 57.        ,
       40.5       ,  0.92      , 19.        , 36.5       ,  0.75      ,
        0.83      , 58.        ,  0.17      , 59.        , 14.5       ,
       44.        ,  5.        , 51.        ,  3.        , 38.5       ])

In [25]:
X_test = np.array(test[['Pclass', 'Sex', 'Age']])

In [26]:
output_test = []
for i in range(X_test.shape[0]):
    value = sigmoid(np.dot(X_test[i], w) + b)
    if value >= 0.65:
        output_test.append(1)
    else:
        output_test.append(0)
output_test = np.array(output_test)

In [27]:
passengerId = np.array(test['PassengerId'])

In [28]:
final_df = pd.DataFrame([passengerId, output_test])

In [29]:
final_df = final_df.T

In [30]:
final_df

        0  1
0     892  0
1     893  0
2     894  0
3     895  0
4     896  0
..    ... ..
413  1305  0
414  1306  1
415  1307  0
416  1308  0
417  1309  0

[418 rows x 2 columns]

In [31]:
final_df.rename(columns = {0:'PassengerId', 1:'Survived'}, inplace = True)

In [32]:
final_df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [33]:
final_df.to_csv('gender_submission.csv', index=False)

In [39]:
output_test = list(output_test)

In [40]:
output_test.count(1)

80

In [41]:
output_test.count(0)

338